<div class="row">
    <div class="col-md-12">
        <h1>{{titlePage}}</h1>
    </div>

    <div class="col-md-12">
        <form class="form-inline" name="formNovaEditora">
            <input type="text" placeholder="Nome da Editora"  ng-model="publishing.nome"  class="form-control" required="" />
            <input type="text" placeholder="Email da Editora"  ng-model="publishing.email"  class="form-control" required="" />
            <input type="text" placeholder="Telefone da Editora"  ng-model="publishing.telefone"  class="form-control" required="" />
            <input type="text" placeholder="Site da Editora"  ng-model="publishing.site"  class="form-control" required="" />
            <button ng-click="salvar()" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>