<div class="row">
    <div class="col-md-12">
        <h1>Cadastro Autor</h1>
    </div>

    <div class="col-md-12">
        <form class="form-inline">
            <input type="text" placeholder="Nome do Autor" name="autor[nome]" ng-model="nome" id="autorNome" class="form-control" />
            <input type="text" placeholder="Email do Autor" name="autor[email]" ng-model="email" id="emailAutor" class="form-control" />
            <button ng-click="salvar()" class="btn btn-primary">Salvar</button>
        </form>
    </div>
    {{idAutor}}
</div>