<div class="row">
    <div class="col-md-12">
        <h1>Cadastro Autor</h1>
    </div>

    <div class="col-md-12">
        <form class="form-inline" name="formNovoAutor">
            <input type="text" placeholder="Nome do Autor"  ng-model="autor.nome"  class="form-control" required="" />
            <input type="text" placeholder="Email do Autor"  ng-model="autor.email"  class="form-control" required="" />
            <button ng-click="salvar()" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>