<div class="row">
    <div class="col-md-12">
        <h1>{{titlePage}}</h1>
    </div>

    <div class="col-md-12">
        <form class="form-inline" name="formNovaPessoa">
            <input type="text" placeholder="Nome da Pessoa"  ng-model="person.nome"  class="form-control" required="" />
            <input type="text" placeholder="Email da Pessoa"  ng-model="person.email"  class="form-control" required="" />
            <input type="text" placeholder="Telefone da Pessoa"  ng-model="person.telefone"  class="form-control" required="" />
            <input type="hidden" ng-model="publishing.idEditora"  />
            <button ng-click="salvar()" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>